common \
  --crosstool_top=//tools/toolchain \
  --verbose_failures \
  --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

test \
  --test_output=errors \
  --test_verbose_timeout_warnings

run --strip=never

build --strip=never

# Options for cross-compiling SmouthOS on the i386 architecture.

common:i386 \
  --cpu=i386 \
  --compiler=g++

# Continuous Integration (ci) options for running SmouthOS on Jenkins.

common:ci \
  --color=no \
  --noshow_loading_progress \
  --noshow_progress \
  -c opt

build:ci \
  --genrule_strategy=standalone \
  --sandbox_debug \
  --spawn_strategy=standalone

test:ci \
  --test_output=errors \
  --test_strategy=standalone
