test \
  --host_crosstool_top=@bazel_tools//tools/cpp:toolchain \
  --crosstool_top=//tools/toolchain \
  --verbose_failures \
  --test_output=errors \
  --test_verbose_timeout_warnings 
     
run \
  --host_crosstool_top=@bazel_tools//tools/cpp:toolchain \
  --crosstool_top=//tools/toolchain \
  --strip=never \
  --verbose_failures

build \
  --host_crosstool_top=@bazel_tools//tools/cpp:toolchain \
  --crosstool_top=//tools/toolchain \
  --strip=never \
  --verbose_failures
