test \
  --host_crosstool_top=@bazel_tools//tools/cpp:toolchain \
  --crosstool_top=//tools/toolchain \
  --verbose_failures \
  --test_output=errors \
  --test_verbose_timeout_warnings 
     
run \
  --host_crosstool_top=@bazel_tools//tools/cpp:toolchain \
  --crosstool_top=//tools/toolchain \
  --strip=never \
  --verbose_failures

build \
  --host_crosstool_top=@bazel_tools//tools/cpp:toolchain \
  --crosstool_top=//tools/toolchain \
  --strip=never \
  --verbose_failures

common:ci --color=no
common:ci -c opt
common:ci --noshow_progress
common:ci --noshow_loading_progress
build:ci --verbose_failures
build:ci --sandbox_debug
build:ci --spawn_strategy=standalone
build:ci --genrule_strategy=standalone
test:ci --test_strategy=standalone
test:ci --test_output=errors
